:root {
  --darkBlue: #1c3144;
  --wintergreenDream: #488286;
  --paleAqua: #b7d5d4;

  --textSize: 18px;
  --subtextSize: 26px;
}

* {
  background-color: var(--darkBlue);
  font-family: "Helvetica Neue", "Helvetica", "Arial";
}

.AppBody {
  display: flex;
  padding-left: 20%;
  align-content: center;
  align-items: center;

  min-height: 700px;
  min-width: 700px;
}

.hr {
  border-color: var(--wintergreenDream);
}

.Title {
  color: var(--wintergreenDream);
  text-transform: uppercase;
  font-size: 42px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.Subtile {
  color: var(--paleAqua);
  font-size: var(--subtextSize);
  padding-bottom: 12px;
}

.ContactInfo {
  color: var(--paleAqua);
  font-size: var(--textSize);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
}

.ExperienceWrapper {
  width: 600px;
}

.Button {
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-top: 23px;
  padding-right: 10px;
}

.ExperienceHeader {
  color: var(--paleAqua);
  font-size: var(--textSize);
}

.ExperienceBody {
  color: var(--paleAqua);
  font-size: var(--textSize);

  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.ExperianceRow {
  color: var(--paleAqua);
  font-size: var(--textSize);
  padding-left: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.Skillbox {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: var(--textSize);
  color: var(--paleAqua);
}

.Skillbox ul li {
  padding: 3px;
}

.Link {
  color: var(--wintergreenDream);
  text-decoration: none;
}

.ExperienceContentWrapper {
  display: flex;
  padding: 10px;
}

.ElementWrapper {
  padding-top: 12px;
  padding-bottom: 12px;
}
