
* { 
  background-color: #282c34;  
  font-family: "Helvetica Neue", "Helvetica", "Arial"
}

:root {
  --textColor: white;
  --forgroundColor: tan;
}

.AppBody {
  display: flex;
  padding-left: 20%;
  align-content: center;
  align-items: center;

  min-height: 700px;
  min-width: 700px;

  border-style: solid;
  border-width: 3px;
  border-color: red;
}

.AppWrapper {
  border-style: solid;
  border-width: 3px;
  border-color: blue;
}

.Title {
  color: var(--textColor);
  text-transform: uppercase;
  font-size: 42px;
  padding-bottom: 16px;
}

.Subtile {
  color: var(--textColor);
  font-size: 26px;
  padding-bottom: 16px;
}

.ContactInfo {
  color: var(--textColor);
  font-size: 18px;
  
  display: flex;
	flex-direction: column;
	align-items: flex-start;
  align-content: center;
  justify-content: center;
}

.ExperienceWrapper {
  width: 600px;
}

.ExperienceContentWrapper {   
  display: flex;
  padding: 10px;
}

.button {
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-top: 23px;
  padding-right: 10px;
  
}

.ExperienceHeader {
  color: var(--textColor);
  font-size: 18px;
}

.ExperienceBody {
  color: var(--textColor);
  font-size: 16px;

  padding-top: 10px;
  display: flex;
	flex-direction: column;
}

.ExperianceRow {
  color: var(--textColor);
  font-size: 14px;
  padding-left: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.Skillbox {
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--textColor);
}


.Dummy {
  border-style: solid;
  border-width: 3px;
  border-color: green;
}

.ElementWrapper {
  padding-top: 12px;
  padding-bottom: 30px;
}
