.cardWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-radius: 8px;

  background-color: lightblue;

  margin: 4%;

  height: 400px;
  width: 400px;
}

.cardImageWrapper {
  margin-top: 4%;
  margin-left: 4%;
  margin-right: 4%;

  img {
    width: 100%;
    height: auto;

    filter: grayscale(100%);
  }

  img:hover {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: black;
  }
}

.cardContent {
  background-color: lightcoral;

  text-align: center;

  .cardTitle {
    font-size: 24px;
  }
  .cardDate {
    font-size: 20px;
  }
  .cardButton {
    margin: 2% 0;
  }
}
