.cardWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-radius: var(--borderRadius);
  color: var(--textColor);
  background: var(--primaryBackground);

  margin: 4%;

  height: 400px;
  width: 400px;
}

.cardImageWrapper {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 8%;

  // border-color: white;
  // border-style: solid;
  // border-width: 2px;

  img {
    width: 100%;
    height: auto;

    filter: grayscale(100%);
  }

  img:hover {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: black;
  }
}

.cardContent {
  text-align: center;

  .cardTitle {
    font-size: 24px;
  }
  .cardDate {
    font-size: 20px;
  }
}
