.App {
  text-align: center;
  background-color: #282c34;
}

.FlexBody {
  min-height: 400px;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.FlexItem {
  flex: 69 49 auto;
  margin: 22px;
}
