.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.FlexBody {
	display: flex;
	justify-content: space-around;
	align-items: center;
  align-content: center;
}

.FlexItem {
  padding: 15px;
}